apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: kibana
  namespace: dbaas
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  rules:
  - host: kibana.qikqiak.com
    http:
      paths:
      - backend:
          serviceName: kibana-kibana
          servicePort: 5601
        path: /
