[Unit]
Description=Thanos is a set of components that can be composed into a highly available metric system with unlimited storage capacity, which can be added seamlessly on top of existing Prometheus deployments.
After=network.target

[Service]
Type=simple
#User=prometheus

#NOTE: The compactor must be run as a singleton and must not run when manually modifying data in the bucket.
ExecStart=/usr/local/bin/thanos receive \
          --log.level=info \
          --remote-write.address=0.0.0.0:19291 \
          --http-address=0.0.0.0:10902 \
          --grpc-address=0.0.0.0:10901 \
          --objstore.config-file=/etc/thanos/bucket_config.yaml \
          --tsdb.wal-compression \
          --tsdb.path=/var/lib/thanos/receive \
          --tsdb.retention=2h \
          --receive.replication-factor=1 \
          --label=receive_replica="replica" \
          --label=receive="true" \
          --receive.local-endpoint=thanos-receive.thanos.svc.cluster.local:10901

Restart=on-failure

[Install]
WantedBy=multi-user.target
