[Unit]
Description=Thanos is a set of components that can be composed into a highly available metric system with unlimited storage capacity, which can be added seamlessly on top of existing Prometheus deployments.
After=network.target

[Service]
Type=simple
#User=prometheus

ExecStart=/usr/local/bin/thanos sidecar \
          --log.level=info \
          --tsdb.path=/var/lib/prometheus \
          --prometheus.url=http://127.0.0.1:9090 \
          --http-address=0.0.0.0:10902 \
          --grpc-address=0.0.0.0:10901 \
          --objstore.config-file=/etc/thanos/bucket_config.yaml

Restart=on-failure

[Install]
WantedBy=multi-user.target
