[Unit]
Description=mysqld_exporter
Documentation=https://prometheus.io/
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/bin/mysqld_exporter --config.my-cnf=/etc/prometheus/mysqld_exporter/my.cnf
ExecStop=/usr/bin/killall mysqld_exporter
Restart=on-failure

[Install]
WantedBy=multi-user.target
