apiVersion: v1
kind: Service
metadata:
  name: mysql-server
  namespace: default
spec:
  ports:
  - name: mysql 
    protocol: TCP
    port: 3306
    targetPort: 3306
  type: NodePort
  selector:
    app: mysql
