user nginx;

{{define "settings"}}
worker_processes {{or .worker_processes "auto"}};

error_log /var/run/s6/nginx-error-log-fifo warn;
pid /var/run/nginx/nginx.pid;

events {
  worker_connections {{or .worker_connections "1024"}};
}
{{end}}

{{define "location"}}
  {{if ls (printf "/upstreams/%s" .data.upstream)}}
  {{$servers := gets (printf "/upstreams/%s/servers/*" .data.upstream)}}{{if $servers}}  
    location {{.data.path}} {
      # <custom>
      {{range $key,$value := .nginx}}{{$key}} {{$value}};
      {{end}}
      # </custom>
      access_log       off;
      proxy_pass       http://{{.data.upstream}};
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
  {{end}}{{end}}
{{end}}

{{define "listener"}}
  server {
    server_name {{base .host}};

  {{if eq .data.protocol "http"}}
    listen {{.data.address}};
  {{else if eq .data.protocol "https"}}
    listen {{.data.address}} ssl;

    ssl on;
    ssl_certificate           /etc/nginx/certs/{{base .host}}.crt;
    ssl_certificate_key       /etc/nginx/certs/{{base .host}}.key;

    # enable session resumption to improve https performance
    # http://vincent.bernat.im/en/blog/2011-ssl-session-reuse-rfc5077.html
    ssl_session_cache         shared:SSL:50m;
    ssl_session_timeout       5m;

    # Diffie-Hellman parameter for DHE ciphersuites, recommended 2048 bits
    ssl_dhparam               /etc/nginx/certs/dhparam.pem;

    # enables server-side protection from BEAST attacks
    # http://blog.ivanristic.com/2013/09/is-beast-still-a-threat.html
    ssl_prefer_server_ciphers on;

    # disable SSLv3(enabled by default since nginx 0.8.19) since it's less secure then TLS http://en.wikipedia.org/wiki/Secure_Sockets_Layer#SSL_3.0
    ssl_protocols             TLSv1 TLSv1.1 TLSv1.2;

    # ciphers chosen for forward secrecy and compatibility
    # http://blog.ivanristic.com/2013/08/configuring-apache-nginx-and-openssl-for-forward-secrecy.html
    ssl_ciphers 'ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:ECDHE-RSA-RC4-SHA:ECDHE-ECDSA-RC4-SHA:RC4-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!DES:!3DES:!MD5:!PSK';

    # enable ocsp stapling (mechanism by which a site can convey certificate revocation information to visitors in a privacy-preserving, scalable manner)
    # http://blog.mozilla.org/security/2013/07/29/ocsp-stapling-in-firefox/
    ssl_stapling on;
    ssl_stapling_verify off;
    ssl_trusted_certificate /etc/nginx/certs/{{base .host}}.crt;

    # config to enable HSTS(HTTP Strict Transport Security) https://developer.mozilla.org/en-US/docs/Security/HTTP_Strict_Transport_Security
    # to avoid ssl stripping https://en.wikipedia.org/wiki/SSL_stripping#SSL_stripping
    add_header Strict-Transport-Security "max-age=31536000; includeSubdomains;";
  {{end}}

    # <custom>
    {{range $key,$value := .nginx}}{{$key}} {{$value}};
    {{end}}
    # </custom>

  {{$locations := printf "%s/locations" .host}}{{range $locationbase := ls (printf "%s/" $locations)}}
    {{$location := printf "%s/%s" $locations $locationbase}}
    {{if exists $location}}
      {{template "location" (json (printf "{\"nginx\":{},\"data\":%s}" (getv $location)))}}
    {{else if exists (printf "%s/value" $location)}}
      {{$nginxKey := printf "%s/.nginx" $location}}
      {{$locationKey := printf "%s/value" $location}}
      {{if exists $nginxKey}}
        {{template "location" (json (printf "{\"nginx\":%s,\"data\":%s}" (getv $nginxKey) (getv $locationKey)))}}
      {{else}}
        {{template "location" (json (printf "{\"nginx\":%s,\"data\":%s}" (print "{}") (getv $locationKey)))}}
      {{end}}
    {{end}}
  {{end}}
  }
{{end}}

{{if exists "/settings"}}
  {{template "settings" (json (getv "/settings"))}}
{{else if exists "/settings/.nginx"}}
  {{template "settings" (json (getv "/settings/.nginx"))}}
{{else}}
  {{template "settings" (json `{}`)}}
{{end}}

http {
  include /etc/nginx/mime.types;
  default_type application/octet-stream;
  
  log_format main '$remote_addr - $remote_user [$time_local] "$request" '
                  '$status $body_bytes_sent "$http_referer" '
                  '"$http_user_agent" "$http_x_forwarded_for"';
  access_log /var/run/s6/nginx-access-log-fifo main;

  # NGINX OPTIMIZATION: UNDERSTANDING SENDFILE, TCP_NODELAY AND TCP_NOPUSH
  # https://t37.net/nginx-optimization-understanding-sendfile-tcp_nodelay-and-tcp_nopush.html
  sendfile on;
  tcp_nopush on;
  tcp_nodelay on;

  types_hash_max_size 2048;
  keepalive_timeout 65;

  gzip on;
  gzip_disable "msie6";

  # Guidelines:
  # http://tautt.com/best-nginx-configuration-for-security/

  # don't send the nginx version number in error pages and Server header
  server_tokens off;

  # config to don't allow the browser to render the page inside an frame or iframe
  # and avoid clickjacking http://en.wikipedia.org/wiki/Clickjacking
  # if you need to allow [i]frames, you can use SAMEORIGIN or even set an uri with ALLOW-FROM uri
  # https://developer.mozilla.org/en-US/docs/HTTP/X-Frame-Options
  add_header X-Frame-Options SAMEORIGIN;

  # when serving user-supplied content, include a X-Content-Type-Options: nosniff header along with the Content-Type: header,
  # to disable content-type sniffing on some browsers.
  # https://www.owasp.org/index.php/List_of_useful_HTTP_headers
  # currently suppoorted in IE > 8 http://blogs.msdn.com/b/ie/archive/2008/09/02/ie8-security-part-vi-beta-2-update.aspx
  # http://msdn.microsoft.com/en-us/library/ie/gg622941(v=vs.85).aspx
  # 'soon' on Firefox https://bugzilla.mozilla.org/show_bug.cgi?id=471020
  add_header X-Content-Type-Options nosniff;

  # This header enables the Cross-site scripting (XSS) filter built into most recent web browsers.
  # It's usually enabled by default anyway, so the role of this header is to re-enable the filter for 
  # this particular website if it was disabled by the user.
  # https://www.owasp.org/index.php/List_of_useful_HTTP_headers
  add_header X-XSS-Protection "1; mode=block";

  # with Content Security Policy (CSP) enabled(and a browser that supports it(http://caniuse.com/#feat=contentsecuritypolicy),
  # you can tell the browser that it can only download content from the domains you explicitly allow
  # http://www.html5rocks.com/en/tutorials/security/content-security-policy/
  # https://www.owasp.org/index.php/Content_Security_Policy
  # I need to change our application code so we can increase security by disabling 'unsafe-inline' 'unsafe-eval'
  # directives for css and js(if you have inline css or js, you will need to keep it too).
  # more: http://www.html5rocks.com/en/tutorials/security/content-security-policy/#inline-code-considered-harmful
  #add_header Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://ssl.google-analytics.com https://assets.zendesk.com https://connect.facebook.net; img-src 'self' https://ssl.google-analytics.com https://s-static.ak.facebook.com https://assets.zendesk.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://assets.zendesk.com; font-src 'self' https://themes.googleusercontent.com; frame-src https://assets.zendesk.com https://www.facebook.com https://s-static.ak.facebook.com https://tautt.zendesk.com; object-src 'none'";

{{$upstreams := "/upstreams"}}{{range $upstreambase := ls (printf "%s/" $upstreams)}}
{{$upstream := printf "%s/%s" $upstreams $upstreambase}}
  {{$servers := gets (printf "%s/servers/*" $upstream)}}{{with $servers}}
  upstream {{base $upstream}} {
  {{range $server := $servers}}{{with json .Value}}
    server {{.url}};
  {{end}}{{end}}
  }
  {{end}}
{{end}}

server {
    listen 80 default_server;
    return 404;
}

{{$hosts := "/hosts"}}{{range $hostbase := ls (printf "%s/" $hosts)}}
  {{$host := printf "%s/%s" $hosts $hostbase}}
  {{$listeners := printf "%s/listeners" $host}}{{range $listenerbase := ls (printf "%s/" $listeners)}}
    {{$listener := printf "%s/%s" $listeners $listenerbase}}
    {{if exists $listener}}
      {{template "listener" (json (printf "{\"nginx\":{},\"host\":\"%s\",\"data\":%s}" $host (getv $listener)))}}
    {{else if exists (printf "%s/value" $listener)}}
      {{$nginxKey := printf "%s/.nginx" $listener}}
      {{$listenerKey := printf "%s/value" $listener}}
      {{if exists $nginxKey}}
        {{template "listener" (json (printf "{\"nginx\":%s,\"host\":\"%s\",\"data\":%s}" (getv $nginxKey) $host (getv $listenerKey)))}}
      {{else}}
        {{template "listener" (json (printf "{\"nginx\":%s,\"host\":\"%s\",\"data\":%s}" (print "{}") $host (getv $listenerKey)))}}
      {{end}}
    {{end}}
  {{end}}
{{end}}
}
